#!/bin/sh

gclonecd() {
  git clone "$1" && cd "$(basename "$1" .git)"
}
alias clone="cd $HOME/code/git && gclonecd"

alias tmp="cd $(mktemp -d)"

alias l=ls
alias ll="ls -al"

alias tmpd="cd $(mktemp -d)"

alias watch="watch -n 1"

alias dud="du -h -d1"

alias start="sudo systemctl start"
alias restart="sudo systemctl restart"
alias stop="sudo systemctl stop"
alias status="sudo systemctl status"
alias enable="sudo systemctl enable"
alias disable="sudo systemctl disable"

alias cdprog="cd drive_c/Program\ Files\ \(x86\)"

alias psaux="ps aux | rg -i"

alias open="xdg-open"

alias gns3env="cd $HOME/code/gns3 && source env"

if which exa > /dev/null 2>&1; then
	alias ls="exa"
fi

alias copy="xclip -selection clipboard"
alias sshot="maim -u -s | xclip -selection clipboard -t image/png"
alias freeze="maim -u -s /tmp/ya.png && sxiv /tmp/ya.png"

alias play="mpv --hwdec=autosafe"
alias dl="youtube-dl -f bestvideo+bestaudio"

alias up="${HOME}/sh/update.sh"

mountboot () {
  sudo mount ${1}2 $2
  sudo mount ${1}1 $2/boot
}
