#!/bin/sh

[ -f "$(which bat)" ] && alias cat=bat
[ -f "$(which exa)" ] && alias ls=exa

alias ..="cd .."
alias ...="cd ../.."

alias e="emacsclient -n"

gclonecd() {
  git clone "$1" && cd "$(basename "$1" .git)"
}
alias clone="cd $HOME/code/git && gclonecd"

alias tmp="cd $(mktemp -d)"

alias l=ls
alias ll="ls -al"

alias watch="watch -n 1"

alias dud="du -h -d1"

alias start="sudo systemctl start"
alias restart="sudo systemctl restart"
alias stop="sudo systemctl stop"
alias status="sudo systemctl status"
alias enable="sudo systemctl enable"
alias disable="sudo systemctl disable"
alias reload="sudo systemctl daemon-reload"
alias ustart="systemctl start --user"
alias urestart="systemctl restart --user"
alias ustop="systemctl stop --user"
alias ustatus="systemctl status --user"
alias uenable="systemctl enable --user"
alias udisable="systemctl disable --user"
alias ureload="systemctl daemon-reload --user"

alias open="xdg-open"

alias play="mpv --hwdec=autosafe"
alias dl="yt-dlp -f bestvideo+bestaudio"

alias up="${HOME}/sh/update.sh"
