#!/bin/sh

bak() {
}

gclonecd() {
  git clone "$1" && cd "$(basename "$1" .git)"
}
#alias clone="cd $HOME/code/git && git clone"
alias clone="cd $HOME/code/git && gclonecd"

alias sshpi="ssh pi@pi.hole"

alias cdgo="cd $HOME/code/go/src/purplg.com/"

alias dud="du -h -d1"

alias start="sudo systemctl start"
alias restart="sudo systemctl restart"
alias stop="sudo systemctl stop"
alias status="sudo systemctl status"
alias enable="sudo systemctl enable"
alias disable="sudo systemctl disable"

alias cdprog="cd drive_c/Program\ Files\ \(x86\)"

alias psaux="ps aux | rg -i"

alias proton="~/.steam/root/compatibilitytools.d/Proton-4.15-GE-4/dist/bin/wine64"
